/* ----------
    RESET
    --------- */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* ----------
    COMMON
    --------- */
body {
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.btn-primary {
    background-color: blue;
    border: none;   
    padding: 10px;
    color: white;
    text-align: center;       
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 20px 0 0;
}

.container-principale {
    max-width: 800px;
    text-align: left;
    margin: auto;
    padding-top: 165px;
}

.title-section {
    font-size: 35px;
    padding-bottom: 50px;
}

/* ----------
    HEADER
    --------- */

header {
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.container-header {
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-header {
    vertical-align: middle;
}

/* ----------
    MAIN-hero
    --------- */

.container-big {
    height: 660px;
    background-color: white; 
    padding-top: 80px;
}

.container-short {
    height: 630px;
    background-color: #b4d0e7;
}

.container-box {
    max-width: 1000px;
    text-align: left;
    margin: auto;
}

.column-hero {
    display: flex;
}

.col-small {
    width: 300px;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.col-big {
    width: 700px;
    height: 530px;
}

.img-hero {
    width: 700px;
    height: auto;
}

.title-hero {
    font-size: 70px;
    padding: 80px 0 50px 0;
}

.btn-hero {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 127px;
}

.icon-hero {
    font-size: 45px;
    padding-top: 45px;
}

/* ---------
    SECONDA SEZIONE
    ------------ */

.radio {
    display: flex;
    margin-bottom: 50px;
}

input {
    margin-right: 3px;
}

.second-radio {
    margin-left: 30px;
}

/* ----------
    TERZA SEZIONE
    ---------- */
.colonne-fatturazione {
    display: flex;
}

.column {
    width: 267px;
    height: 500px;
    border: solid 1px black;
}