* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    margin: auto;
}

header {
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.container-header {
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container-big {
    height: 660px;
    background-color: white; 
    padding-top: 80px;
}

.container-short {
    height: 630px;
    background-color: #b4d0e7;
}

.container-box {
    max-width: 1000px;
    text-align: left;
    margin: auto;
}

.col-small {
    width: 300px;
    height: 480px;
    display: flex;
    flex-direction: column;

}

.column-hero {
    display: flex;
    width: 1000px;
}

.col-big {
    width: 700px;
    height: 530px;
}

.img-hero {
    width: 700px;
    height: auto;
}

h1 {
    font-size: 70px;
    padding: 80px 0 50px 0;
}

.btn-primary {
    background-color: blue;
    border: none;   
    padding: 10px;
    color: white;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 127px;
}